<!DOCTYPE html>
<html lang="en">
<head>
    <script>

setTimeout(function(){ 
    

    var mesplit = document.cookie.split('=');
    window.location.href = "http://www.drhealthcart.com/myactivity";

 }, 3000);


    </script>
</head>
<body>
    Your payment done successfully !
we are redirecting you to your activity page, please wait...    
</body>
</html>