<!DOCTYPE html>
<html lang="en">
<head>
    <script>
    var mesplit = document.cookie.split('=');
    window.location.href = "http://www.drhealthcart.com/"+mesplit[1];    
    </script>
</head>
<body>
    
redirecting you at your previous position, please wait...    
</body>
</html>