.headerlogo{
    background: #7C216F;color: white;margin: 0;
  }
  .headerlogo p {
    font-size: 32px;margin: 0;padding: 5px;
  }

@media only screen and (min-width: 600px)
{
    .mycard
    {
        border-radius: 5px;
        background: whitesmoke;
        padding-left: 5%;
        padding-top:2%; 
    }
}

@media only screen and (max-width: 600px)
{
    .mycard
    {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 5px;
    }


}  

/* body
{
    background: green;
} */

.header p
{
    color: #7C216F;
    background: white;
    font-size: 35px;
    float: right;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.tiles
{
  margin-left: 5%;
  margin-right: 5%;
}
  

.tiles img
{
    display: inline;
    height: 210px;
    width: 310px;
  margin: 5px;
    border: 5px solid black;
    border-radius: 5%;
    /* box-shadow: 10px 10px 10px 1px #333; */

}

.drlogo
{
    display: inline;
    height: 290px;
    width: 290px;
  margin: 5px;
    /* border: 5px solid #7C216F; */
    border-radius: 100%;
    box-shadow: 10px 8px 10px 0px #333;

}


.drlogo img
{
    position: relative;
    height: 100%;
    width: 100%;
        border-radius: 100%;

}

.otherdis{
    display: inline;
    height: 100px;
    width: 200px;
  margin: 5px;
    /* border: 5px solid purple; */
     border-radius: 10px; 
    font-size: 18px;
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 10px 8px 10px 0px #333;

  
}